/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* Variables globales */
:root {
  --aqua: #3AA8A2;
  --aqua-dark: #2E807D;
  --orange: #FF7400;
  --orange-dark: #C65F00;
  --violet: #8F66CE;
  --violet-dark: #6235A6;
  --violet-darker: #432573;
  --green: #47AC51;
  --green-dark: #3B8D43;
  --green-darker: #307337;
  --blue: #5A8CD2;
  --blue-dark: #3B6DA2;
  --blue-darker: #2D4D72;
  --background-color: #ffffff;
  --cremita: #FFF8F5;
  --text-color: #000;
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --text: "ivyora-text", sans-serif;
  --titles: "komet", sans-serif;
  --padding-fluid: clamp(1rem, 5vw, 4rem);

}

html {
  scroll-behavior: smooth;
}

/* Estilos base */
body {
  font-family: var(--text);
  background-color: var(--background-color);
  line-height: 1.6;
  font-size: 1.25rem;
}

/* Tipografía */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-family: var(--titles);
  font-weight: 900;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(3rem, 15vw, 18.75rem);
  letter-spacing: -0.04em;
  display: block;
  text-align: center;
}

h1 span {
  font-family: var(--text);
  font-size: clamp(2rem, 5vw, 4rem);
  letter-spacing: -0.04em;
  text-transform: none;
  font-weight: 100;
  display: block;
  line-height: 100%;
}

h2 {
  font-size: clamp(2rem, 8vw, 3.5rem);
  letter-spacing: -0.02em;
}

.bajada {
  font-size: clamp(1.5rem, 5vw, 2rem);
}
h3 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  letter-spacing: -0.02em;
}

p {
  margin-bottom: 1rem;
}

/* Enlaces */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


img {
  display: block;
  margin:0 auto;
max-width: 100%; 
  height: auto;
}

section {
  padding: 0;
  margin: 0;
}
