---
interface Props {
    titulo: string;
    bajada: string;
}

const { titulo, bajada } = Astro.props;
---


<section class="diferencias-container">
<header>
    <h2>{titulo}</h2>
    <p class="bajada">{bajada}</p>
</header>
    <slot />
    
</section>

<style>
    .diferencias-container {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: clamp(4rem, 10vw, 20rem);
        text-align: center;
        background-color: var(--cremita);
        padding: clamp(1rem, 3vw, 2rem);
        
        grid-area:diferencias;
    }

    .diferencias-container h2 {
        margin-bottom: 1rem;
        max-width: 60rem;
        margin: 0 auto;
        padding-bottom: 1rem;
    }

    .bajada {
        max-width: 60rem;
        margin: 0 auto;
    }

 
</style>
