---
import { Image } from 'astro:assets';

interface Props {
    juegos: {
        nombre: string;
        imagen: ImageMetadata;
        link: string;
    }[];
}

const { juegos } = Astro.props;
---

<section class="otros-juegos">
   
    <h2>Otros juegos de evos que te pueden interesar</h2>
    <div class="juegos-grid">
        {
            juegos.map((juego) => (
                <div class="juego-item">
                <a href={juego.link} class="juego-item">
                    <p>{juego.nombre}</p>
                    <Image 
                        src={juego.imagen} 
                        alt={juego.nombre}
                        width={250}
                        height={250}
                    />
                </a>
                </div>
            ))
        }
    </div>
</section>

<style>
   
 

     .otros-juegos h2{
        color: var(--background-color);
        text-align: center;
        max-width: 60rem;
        width: 100%;
        margin: 0 auto;
    }

    .juegos-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        margin: 0 auto;
        max-width: 90rem;
        overflow: hidden;
       
    }


    .juego-item {
        display: grid;
        place-items: center;
    
        border-radius: 50%;
       overflow: hidden;
       align-content: center;    
       aspect-ratio: 1;
    }
   

    .juego-item a:hover {
        transform: scale(1.05);
    }

    .juego-item p {
        text-transform: uppercase;
        display: block;
        font-family: var(--titles);
        font-size: 2rem;
        font-weight: 900;
        color: var(--background-color);
        margin:0;
    }


   
</style>
